:root {
  /**
   * ページ設定
   */
  --vs-theme--num-of-line: 17;
  --vs-theme--num-of-character: 45;
  /* B6 */
  --vs-page--size: 128mm 182mm;
  /* 塗り足し */
  --vs-page--bleed: 3mm;
  /* 天 */
  --vs-page--margin-top: 50pt;
  /* 地 */
  --vs-page--margin-bottom: 38.4pt;
  /* のど */
  --vs-page--margin-inner: 58.3pt;
  /* 小口 */
  --vs-page--margin-outer: 35pt;
  /* unset auto-calc */
  --vs-page--width: auto;
  --vs-page--height: auto;

  /**
   * フォント
   */
  --vs-font-family: 'Times New Roman', 'Yu Mincho', sans-serif;
  --vs-font-size: 9.5pt;
  --vs-line-height: calc((6 + 9.5) / 9.5);
  --vs--small-font-size: 8.5pt;
  /* unset */
  --vs-font-size-on-print: var(--vs-font-size);

  /**
   * 柱
   */
  --vs-page--mbox-font-size: 7pt;
  /* 章タイトル */
  --vs-theme--page-top-left-content: counter(page) '　　' env(doc-title);
  /* 本タイトル */
  --vs-theme--page-top-right-content: env(pub-title) '　　' counter(page);

  /* unset */
  --vs--bold-font-weight: normal;

  --vs--blockquote-margin-block: 1em;
  /* unset */
  --vs-spacing-inline-indent: 0;
}

/**
 * 柱
 */
@page {
  @top-left {
    margin-left: 5pt;
    margin-top: 5mm;
  }
  @top-right {
    margin-right: 5pt;
    margin-top: 5mm;
  }
}

strong {
  text-emphasis-style: filled;
}

/**
 * 引用
 */
blockquote {
  margin-top: 2rem;
}
blockquote p {
  /* unset */
  text-indent: 0;
}

/**
 * エピグラフ
 */
blockquote blockquote {
  margin-top: 6rem;
  font-size: var(--vs--small-font-size);
  /* line-height: calc(var(--vs-line-height) * 1.05); */
}

/**
 * 段落注
 */
small {
  display: block;
  /* 本文からみて2文字分字下げ */
  padding-top: 2rem;
  /* 文頭を頭出し */
  text-indent: -1em;
  /* line-height: calc(var(--vs-line-height) * 1.05); */
}
p:has(small) {
  /* 本文と段落注の間の余白 */
  margin: 0 0.33em;
}

@font-face {
  font-family: 'Yu Mincho';
  src: url('./yumin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
