:root {
  --vs-page--size: 128mm 182mm; /* B6 +  */
  --vs-page--bleed: 3mm; /* 塗り足し */

  --vs-theme--num-of-line: 17;
  --vs-theme--num-of-character: 45;

  --vs-page--margin-top: 50pt; /* 天 */
  --vs-page--margin-bottom: 38.4pt; /* 地 */
  --vs-page--margin-inner: 58.3pt; /* のど */
  --vs-page--margin-outer: 35pt; /* 小口 */

  --vs-font-size: 9.5pt;
  --vs-font-size-on-print: var(--vs-font-size); /* unset */
  --vs-line-height: calc((6 + 9.5) / 9.5);

  /** 柱 */
  --vs-page--mbox-font-size: 7pt;
  --vs-theme--page-top-left-content: counter(page) '　　' env(doc-title); /* 章タイトル */
  --vs-theme--page-top-right-content: env(pub-title) '　　' counter(page); /* 本タイトル */
  @page {
    /* unset & set */
    @top-left {
      margin-left: 5pt;
      margin-top: 5mm;
    }
    @top-right {
      margin-right: 5pt;
      margin-top: 5mm;
    }
  }
}

p:has(small) {
  /* 段落注 */
  --vs--small-font-size: 0.85rem;
  line-height: calc((4.2 + 9.5) / 9.5);
}
